@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 120 100% 97%; /* honeydew */
    --foreground: 224 71.4% 4.1%;
    --card: 120 100% 97%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 120 100% 97%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 120 73% 75%; /* lightgreen */
    --primary-foreground: 120 25% 15%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 219 79% 66%; /* cornflowerblue */
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 219 79% 66%;
    --radius: 0.5rem;
    --chart-1: 120 73% 75%;
    --chart-2: 219 79% 66%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 220 14% 10%;
    --foreground: 210 20% 98%;
    --card: 220 14% 10%;
    --card-foreground: 210 20% 98%;
    --popover: 220 14% 10%;
    --popover-foreground: 210 20% 98%;
    --primary: 120 73% 75%;
    --primary-foreground: 120 25% 15%;
    --secondary: 220 13% 18%;
    --secondary-foreground: 210 20% 98%;
    --muted: 220 13% 18%;
    --muted-foreground: 210 20% 60%;
    --accent: 219 79% 66%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 18%;
    --input: 220 13% 18%;
    --ring: 219 79% 66%;
    --chart-1: 120 73% 75%;
    --chart-2: 219 79% 66%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
